
{% extends 'base.html' %}



{% block content %}



<div class="container mt-5">


<div class="row justify-content-center">


<div class="col-md-6">


<div class="card shadow p-4">


<h3 class="text-center">

My Profile

</h3>



<hr>



<div class="mb-3">

<strong>
Username:
</strong>

{{ user.username }}

</div>



<div class="mb-3">

<strong>
Email:
</strong>

{{ user.email }}

</div>



<div class="mb-3">

<strong>
Joined Date:
</strong>

{{ user.date_joined|date:"d M Y" }}

</div>



{% if user.staff_profile %}


<hr>


<h5>
Staff Details
</h5>



<div>

<strong>
Department:
</strong>

{{ user.staff_profile.department }}

</div>


{% endif %}



</div>


</div>


</div>


</div>



{% endblock %}