{% extends 'base.html' %}


{% block title %}
FAQ
{% endblock %}



{% block content %}


<div class="container mt-5">


<h2 class="text-center">

Frequently Asked Questions

</h2>



<div class="accordion mt-4" id="faq">


<div class="accordion-item">


<h2 class="accordion-header">


<button class="accordion-button">

How to create a ticket?

</button>


</h2>


<div class="accordion-body">

Login and click Create Ticket.
Fill your issue details and submit.

</div>


</div>




<div class="accordion-item">


<h2 class="accordion-header">


<button class="accordion-button">

How long will support take?

</button>


</h2>


<div class="accordion-body">

Response time depends on ticket priority.

</div>


</div>





<div class="accordion-item">


<h2 class="accordion-header">


<button class="accordion-button">

Can I chat with support?

</button>


</h2>


<div class="accordion-body">

Yes. Open your ticket and send messages.

</div>


</div>



</div>


</div>



{% endblock %}