{% extends 'base.html' %}


{% block title %}
My Tickets
{% endblock %}



{% block content %}


<div class="container mt-5">


<h2>
My Support Tickets
</h2>



<a href="{% url 'create_ticket' %}"
class="btn btn-success mb-3">

+ Create Ticket

</a>




{% if tickets %}



<div class="table-responsive">


<table class="table table-bordered shadow">


<thead class="table-primary">


<tr>

<th>ID</th>

<th>Subject</th>

<th>Status</th>

<th>Priority</th>

<th>Date</th>

<th>Action</th>


</tr>


</thead>




<tbody>


{% for ticket in tickets %}


<tr>


<td>
#{{ ticket.id }}
</td>


<td>

{{ ticket.subject }}

</td>


<td>

{{ ticket.status }}

</td>


<td>

{{ ticket.priority }}

</td>


<td>

{{ ticket.created_at|date:"d M Y" }}

</td>


<td>


<a href="{% url 'ticket_detail' ticket.id %}"
class="btn btn-sm btn-primary">

View

</a>


</td>


</tr>



{% endfor %}



</tbody>



</table>


</div>




{% else %}



<div class="alert alert-info">

No tickets created yet.

</div>


{% endif %}



</div>


{% endblock %}